.principal{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 515px;
    width: 500px;
    background-color: rgb(89, 255, 139);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
#text{
    font-size: 25px;
    padding: 15px;
    margin: 30px 0px 23px 30px;
    padding-right: 18px;    
}
#f1, #f2,#f3,#f4{
    padding:10px;
}#ponto,#menos,#dividir{
    padding: 28px;
        margin-left: 22px;
    padding-left: 30px;
    padding-right: 29px;
}
#igual{
    position: absolute;
    height: 360px;
    background-color:  rgb(165, 134, 252;
}
#reset{
    background-color:  rgb(165, 134, 252);
}
#igual:hover, #reset:hover{
    background-color: white;
    
}
#apaga{
    padding: 22px;
    padding-bottom: 18px;
    padding-top: 26px;
    margin-left: 17px;
    padding-right: 25px;
}
    #mais, #num1, #num2,#num3,#num4,#num5,#num6,#num7,#num8,#num9,#num0,#reset,#vezes, #igual{
        padding: 28px;
        margin-left: 22px;
    }
#ponto:hover,#mais:hover, #menos:hover, #dividir:hover, #ponto:hover, #num1:hover, #num2:hover,#num3:hover,#num4:hover,#num5:hover,#num6:hover,#num7:hover,#num8:hover,#num9:hover,#num0:hover,#vezes:hover,#apaga:hover {
background-color: rgb(252, 134, 134);
color: white;
}
footer{
    margin-left:190px;
}
